{{#extends 'base'}}

{{#block 'content'}}
  <h1>Update actor</h1>
  <form method="post">
    <div>
      <label>First name</label>
      <input type="text" name="first_name" class="form-control" value="{{actor.first_name}}">
    </div>
    <div>
      <label>Last name</label>
      <input type="text" name="last_name" class="form-control" value="{{actor.last_name}}">
    </div>
    <input class="btn btn-primary mt-3" type="submit" value="Update">
  </form>
{{/block}}

{{/extends}}